body {
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.951);
}

.products-list-container {
  max-width: 90%;
  margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(1fr, 4);
  /* flex-wrap: wrap; */
  /* margin: 20px; */
}

.form-container {
  background: #ebebeb;
  border-radius: 12px;
  max-width: 400px;
  margin: 30px auto;
  padding: 10px;
  h1 {
    color: #242424;
  }
}

.form {
  padding: 20px;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form .last-child {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.form input,
textarea {
  font-size: 16px;
  padding: 8px;
  outline: none;
  border-radius: 6px;
}

.form label {
  color: #242424;
}

button {
  padding: 5px 15px;
  cursor: pointer;
}

p {
  color: #242424;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #242424;
}

.product-card {
  background: #ebebeb;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
}

.loading {
  text-align: center;
  font-size: 25px;
  color: #242424;
}

.nav {
  background: #ebebeb;
  padding: 20px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
  }
  div {
    display: flex;
    gap: 10px;
  }
}
