body {
  font-family: sans-serif;
  background: rgb(41, 65, 65);
}

.form-container {
  background: #FFFFFF;
  border-radius: 12px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  h1 {
    color: #242424;
  }
}

.form {
  padding: 20px;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form .last-child {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


.form input, textarea {
  font-size: 16px;
  padding: 8px;
  outline: none;
  border-radius: 6px;
}

.form label {
  color: #242424;
}

button {
  padding: 5px 15px;
  cursor: pointer;
}

p {
  color: #242424;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #242424;
}

.product-container {
  background: rgb(41, 65, 65);
}

.product-container h1 {
  text-align: center;
}

.product-card-container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 35px;
  color: white;
}
